* {
  font-family: "Lato", "Arial", sans-serif;
}

body {
  --color__active: #f06c64;
  margin: 0;
  width: 100%;
}

.icon__path {
  fill: white;
}

.layout {
  width: 100%;
}

.layout__main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.layout__container {
  flex-basis: 1020px;
  max-width: 1020px;
}

.portfolio {
  --color__portfolio-background: #2d303a;
  --color__portfolio-border: #323746;
  --color__portfolio-primary: #666d89;
  --color__portfolio-secondary: #767e9e;
  --color__portfolio-active: #dedede;
  --color__portfolio-active-border: #c5c5c5;
  --size__portfolio-title: 1.875rem;
  --size__portfolio-description: 1.125rem;
  --size__portfolio-tag: 0.75rem;
  box-sizing: border-box;
  padding: 68px 40px 67px 40px;
  border-bottom: 6px solid var(--color__portfolio-border);
  background-color: var(--color__portfolio-background);
  width: 100%;
}
.portfolio__title {
  margin: 0;
  margin-bottom: 30px;
  height: 23px;
  font-size: var(--size__portfolio-title);
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.1px;
  text-align: justify;
  color: var(--color__portfolio-primary);
}
.portfolio__description {
  margin: 0;
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: justify;
  color: var(--color__portfolio-secondary);
}
.portfolio__tag {
  border: 1px solid var(--color__portfolio-primary);
  border-radius: 5px;
  box-shadow: none;
  background: none;
  padding: 3px 6px;
  color: var(--color__portfolio-secondary);
  font-size: var(--size__portfolio-tag);
}
.portfolio__tag--active {
  color: var(--color__portfolio-active);
  border-color: var(--color__portfolio-active-border);
}
.portfolio__images-wrapper {
  display: grid;
  padding-top: 19px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.Button {
  border-width: 1px;
  border-color: #c5c5c5;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 41px;
  top: 155px;
  width: 27px;
  height: 20px;
  z-index: 111;
}

.about {
  --color__about-background: #f2f2f2;
  --color__about-border: #fff;
  --color__about-primary: #666d89;
  --color__about-secondary: #767e9e;
  --size__about-title: 1.875rem;
  --size__about-description: 1.125rem;
  --size__about-tag: 0.75rem;
  box-sizing: border-box;
  padding: 67px 40px;
  border-bottom: 6px solid var(--color__about-border);
  background-color: var(--color__about-background);
  width: 100%;
}
.about__title {
  margin: 0;
  margin-bottom: 30px;
  height: 23px;
  font-size: var(--size__about-title);
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.1px;
  text-align: justify;
  color: var(--color__about-primary);
}
.about__description {
  margin: 0;
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: justify;
  color: var(--color__about-secondary);
}
.about__persons-wrapper {
  display: grid;
  padding-top: 33px;
  grid-gap: 19px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

/*# sourceMappingURL=singolo2.css.map */
