@charset "UTF-8";
* {
  font-family: "Lato", "Arial", sans-serif;
}

html {
  font-size: 16px;
}

body {
  --color__active: #f06c64;
  margin: 0;
  width: 100%;
}

.layout {
  --size__header-height: 95px;
  width: 100%;
}
.layout__header {
  --color__header-active: #f06c64;
  --color__header-background: #2d303a;
  --color__header-border: #323746;
  --color__header-type: white;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  z-index: 10000;
}
.layout__title {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}
.layout__main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.layout__footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.layout__container {
  flex-basis: 1020px;
  max-width: 1020px;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 6px solid var(--color__header-border);
  background-color: var(--color__header-background);
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  height: var(--size__header-height);
  color: var(--color__header-type);
}
.header__logo {
  text-decoration: none;
  letter-spacing: -0.4px;
  color: var(--color__header-type);
  font-size: 25px;
  font-weight: bold;
}
.header__logo span {
  display: inline-block;
  transform: translateY(-3px);
  color: var(--color__header-active);
  font-size: 22px;
}
.header__logo:active {
  color: var(--color__header-type);
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.navigation__item {
  position: relative;
  padding-left: 30px;
  list-style-type: none;
}
.navigation__item:before {
  position: absolute;
  top: 0px;
  left: 14px;
  opacity: 0.2;
  content: "·";
}
.navigation__item:first-of-type::before {
  content: "";
}
.navigation__link {
  transition: color 0.7s ease;
  transition-delay: 0.3s;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.22px;
  color: var(--color__header-type);
  font-size: 12px;
  font-weight: bold;
}
.navigation__link--active, .navigation__link:active, .navigation__link:hover {
  color: var(--color__header-active);
}

.scroll-point {
  height: var(--size__header-height);
  width: 100%;
}
.scroll-point__title {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

.slider {
  --color__slider-background: #f06c64;
  --color__slider-border: #ea676b;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 6px solid var(--color__slider-border);
  background-color: var(--color__slider-background);
  padding: 52px 36px 51px 36px;
  width: 100%;
  height: 600px;
}
.slider__title {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}
.slider__button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
.slider__button:active .slider__button-icon {
  background-image: url(./assets/images/icons/icon-arrow--pressed.svg);
}
.slider__button:hover .slider__button-icon {
  opacity: 0.7;
}
.slider__button-icon {
  display: inline-block;
  margin: 0 auto;
  background-image: url(./assets/images/icons/icon-arrow.svg);
  width: 27px;
  height: 27px;
}
.slider__button-icon--right {
  transform: rotate(180deg);
}
.slider__images {
  width: 84%;
}
.slider--blue {
  --color__slider-background: #648BF0;
  --color__slider-border: #5e85F6;
}
.slider--blue .slider__button-icon {
  background-image: url(./assets/images/icons/icon-arrow--blue.svg);
}
.slider--blue .image {
  width: 64%;
}
.slider--blue .image__screen {
  background-size: cover;
}

.image {
  --color__image-border: #c6c6c6;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
  width: 100%;
  position: relative;
}
.image img {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.image__phone {
  position: absolute;
  padding-bottom: 2px;
}
.image__phone--vert {
  left: 0;
  top: 3%;
  transform: translateY(-50%);
}
.image__phone--big {
  left: 50%;
  top: 3%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.image__phone--big img {
  height: 486px;
}
.image__phone--litle {
  opacity: 0.5;
  left: 1%;
}
.image__phone--litle:last-of-type {
  left: 72%;
}
.image__phone--litle img {
  height: 298px;
}
.image__phone--green .image__screen {
  background-image: url("./assets/images/phone__screen_green.jpg");
}
.image__phone--blue .image__screen {
  background-image: url("./assets/images/phone__screen_blue.jpg");
}
.image__phone--horizont {
  left: 581px;
  transform: rotate(90deg) translate(-1.2%, 32.2%);
}
.image__phone--off .image__screen {
  background-image: none;
  background-color: #2D303A;
}
.image__shadow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-image: url(./assets/images/phone-shadow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 112%;
  height: 112%;
}
.image__phone-wrapper {
  user-select: none;
  position: relative;
}
.image__screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50%), calc(-50% + 2px));
  transition: background-image 0.5s ease;
  border: 3px solid var(--color__image-border);
  border-radius: 4px;
  background-image: url("./assets/images/phone__screen_yellow.jpg");
  background-repeat: no-repeat;
  width: 87%;
  height: 72%;
  background-size: cover;
  cursor: pointer;
}
.image__shadow--horizont {
  transform: scale(1, -1) translate(0, 11.7%);
}
.image--hidden {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

.services {
  --color__services-primary: #666d89;
  --color__services-secondary: #767e9e;
  --color__services-border: white;
  box-sizing: border-box;
  border-bottom: 6px solid var(--color__services-border);
  background-color: #f2f2f2;
  padding: 59px 40px 65px 40px;
}

.services__header {
  margin-bottom: 48px;
}

.services__title {
  margin: 0;
  margin-bottom: 30px;
  height: 23px;
  text-align: justify;
  letter-spacing: -0.1px;
  color: var(--color__services-primary);
  font-size: 30px;
  font-stretch: normal;
  font-weight: 900;
  font-style: normal;
}

.services__description {
  text-align: justify;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--color__services-secondary);
  font-size: 18px;
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
}

.services__column-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  grid-row-gap: 37px;
  grid-column-gap: 20px;
}

.rich-icon {
  box-sizing: border-box;
  position: relative;
  padding-left: 79px;
  width: 299px;
}

.rich-icon:hover .rich-icon__title {
  color: var(--color__active);
}

.rich-icon__title {
  transition: color 1s ease;
  margin: 0;
  padding-bottom: 9px;
  height: 17px;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  line-height: 0.8;
  letter-spacing: -0.1px;
  white-space: nowrap;
  color: var(--color__services-primary);
  font-size: 18px;
  font-stretch: normal;
  font-weight: 900;
  font-style: normal;
}

.rich-icon__description {
  margin: 0;
  height: 60px;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  line-height: 21px;
  letter-spacing: normal;
  color: var(--color__services-secondary);
  font-size: 12px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.icon {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 2px var(--color__services-primary);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
}

.icon--pen {
  background-image: url(./assets/images/icons/icon-pen.svg);
  background-size: 32px 32px;
}

.icon--bulb {
  background-image: url(./assets/images/icons/icon-bulb.svg);
  background-size: 22px 32px;
}

.icon--heart {
  background-image: url(./assets/images/icons/icon-heart.svg);
  background-size: 32px 28px;
}

.icon--phone {
  background-image: url(./assets/images/icons/icon-phone-screen.svg);
  background-size: 22px 32px;
}

.icon--bubble {
  background-image: url(./assets/images/icons/icon-bubble.svg);
  background-size: 32px 28px;
}

.icon--star {
  background-image: url(./assets/images/icons/icon-star.svg);
  background-size: 32px 31px;
}

.portfolio {
  --color__portfolio-active: #dedede;
  --color__portfolio-active-border: #c5c5c5;
  --color__portfolio-background: #2d303a;
  --color__portfolio-border: #323746;
  --color__portfolio-primary: #666d89;
  --color__portfolio-secondary: #767e9e;
  --size__portfolio-description: 1.125rem;
  --size__portfolio-tag: 0.75rem;
  --size__portfolio-title: 1.875rem;
  box-sizing: border-box;
  border-bottom: 6px solid var(--color__portfolio-border);
  background-color: var(--color__portfolio-background);
  padding: 60px 40px 66px 40px;
  width: 100%;
}
.portfolio__title {
  margin: 0;
  margin-bottom: 32px;
  height: 23px;
  text-align: justify;
  letter-spacing: -0.1px;
  color: var(--color__portfolio-primary);
  font-size: var(--size__portfolio-title);
  font-stretch: normal;
  font-weight: 900;
  font-style: normal;
}
.portfolio__description {
  margin: 0;
  padding-bottom: 9px;
  text-align: justify;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--color__portfolio-secondary);
  font-size: 18px;
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
}
.portfolio__tag {
  transition: all 0.7s ease;
  margin-right: 5px;
  outline: none;
  border: 1px solid var(--color__portfolio-primary);
  border-radius: 5px;
  box-shadow: none;
  background: none;
  cursor: pointer;
  padding: 2px 7px 3px;
  color: var(--color__portfolio-secondary);
  font-size: var(--size__portfolio-tag);
}
.portfolio__tag:last-of-type {
  margin: 0;
}
.portfolio__tag:hover {
  opacity: 0.75;
}
.portfolio__tag--active {
  border-color: var(--color__portfolio-active-border);
  color: var(--color__portfolio-active);
}
.portfolio__images-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
  padding-top: 19px;
  max-height: 620px;
  overflow: hidden;
}
.portfolio__image {
  cursor: pointer;
  width: 220px;
  height: 187px;
  display: inline-block;
}
.portfolio__image--active {
  border: 5px solid #f06c64;
  width: 210px;
  height: 177px;
}

.about {
  --color__about-background: #f2f2f2;
  --color__about-border: #fff;
  --color__about-primary: #666d89;
  --color__about-secondary: #767e9e;
  --size__about-description: 1.125rem;
  --size__about-tag: 0.75rem;
  --size__about-title: 1.875rem;
  box-sizing: border-box;
  border-bottom: 6px solid var(--color__about-border);
  background-color: var(--color__about-background);
  padding: 59px 40px 67px;
  width: 100%;
}

.about__header {
  padding-bottom: 35px;
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  height: 23px;
  letter-spacing: -0.1px;
  color: var(--color__about-primary);
  font-size: var(--size__about-title);
  font-stretch: normal;
  font-weight: 900;
  font-style: normal;
}

.about__description {
  margin: 0;
  padding-bottom: 11px;
  text-align: justify;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--color__about-secondary);
  font-size: 18px;
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
}

.about__persons-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.person {
  --color__person-active: #dedede;
  --color__person-active-border: #c5c5c5;
  --color__person-background: #2d303a;
  --color__person-border: #323746;
  --color__person-primary: #666d89;
  --color__person-secondary: #767e9e;
  --size__person-description: 12px;
  --size__person-title: 18px;
  max-width: 300px;
}

.person__title {
  margin: 12px 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -0.2px;
  white-space: nowrap;
  color: var(--color__person-primary);
  font-size: var(--size__person-title);
  font-stretch: normal;
  font-weight: 900;
  font-style: normal;
}

.person__description {
  margin: 0;
  padding-bottom: 11px;
  text-align: justify;
  line-height: 1.797;
  letter-spacing: normal;
  color: var(--color__person-secondary);
  font-size: var(--size__person-description);
  font-stretch: normal;
  font-style: normal;
}

.person__social-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 13px;
}

.person__social-link {
  box-sizing: border-box;
  margin-right: 8px;
  outline: none;
  border: 1px solid var(--color__person-primary);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  width: 32px;
  height: 32px;
}

.person__social-link:hover {
  opacity: 0.75;
}

.person__social-link:active {
  opacity: 0.25;
}

.person__social-link--facebook {
  background-image: url(./assets/images/icons/icon-facebook.svg);
}

.person__social-link--google {
  background-image: url(./assets/images/icons/icon-google-plus.svg);
}

.person__social-link--twitter {
  background-image: url(./assets/images/icons/icon-twitter.svg);
}

.person__social-link--linkedin {
  background-image: url(./assets/images/icons/icon-linkedin.svg);
}

.get-quote {
  --color__get-qoute-background: #f06c64;
  --color__get-qoute-border: #ea676b;
  --color__get-qoute-form-background: #d6564f;
  --color__get-qoute-placeholder: #f48c8f;
  --color__get-qoute-title-color: #f0d8d9;
  --color__get-qoute-button: #f0d8d9df;
  --color__get-qoute-button--hover: #f0d8d950;
  box-sizing: border-box;
  border-bottom: 6px solid var(--color__get-qoute-border);
  background-color: var(--color__get-qoute-background);
  padding: 50px 40px 64px;
  width: 100%;
}

.get-quote__title {
  margin: 0;
  line-height: 54px;
  color: var(--color__get-qoute-title-color);
  font-size: 30px;
}

.get-quote__description {
  margin: 0;
  padding-top: 11px;
  text-align: justify;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: var(--color__get-qoute-title-color);
  font-size: 18px;
}

.get-quote__content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

.get-quote__form {
  position: relative;
}

.get-quote__input-wrapper {
  padding-bottom: 16px;
}

.get-quote__input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: var(--color__get-qoute-form-background);
  padding-left: 15px;
  width: 619px;
  height: 38px;
  color: var(--color__get-qoute-title-color);
  font-size: 12px;
}

.get-quote__input::placeholder {
  color: var(--color__get-qoute-placeholder);
}

.get-quote__message-wrapper {
  height: 202px;
  background-color: var(--color__get-qoute-form-background);
  border-radius: 3px;
}

.get-quote__message {
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: var(--color__get-qoute-form-background);
  padding-top: 10px;
  padding-left: 15px;
  width: 619px;
  height: 137px;
  resize: none;
  color: var(--color__get-qoute-title-color);
  font-size: 12px;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
}
.get-quote__message::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  cursor: pointer;
}
.get-quote__message::-webkit-scrollbar-track {
  background-color: #f48c8f;
}
.get-quote__message::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 2px;
  background-color: #f06c64;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.get-quote__message::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #ea676b;
}

.get-quote__message::placeholder {
  color: var(--color__get-qoute-placeholder);
}

.get-quote__submit {
  position: absolute;
  right: 15px;
  bottom: 12px;
  outline: none;
  border: 1px solid var(--color__get-qoute-button);
  border-radius: 3px;
  background-color: var(--color__get-qoute-background);
  cursor: pointer;
  width: 120px;
  height: 38px;
  color: var(--color__get-qoute-title-color);
  user-select: none;
}

.get-quote__submit:hover {
  border: 1px solid var(--color__get-qoute-button--hover);
}

.get-quote__submit:active {
  border: 1px solid var(--color__get-qoute-button--hover);
  background-color: var(--color__get-qoute-form-background);
}

.get-quote__information-wrapper {
  width: 300px;
}

.get-quote__title-information {
  margin: 0;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: var(--color__get-qoute-title-color);
}

.get-quote__describe-information {
  letter-spacing: -0.15px;
  margin: 0;
  padding-top: 10px;
  text-align: justify;
  line-height: 1.87;
  color: var(--color__get-qoute-title-color);
  font-size: 12px;
}

.get-quote__contact {
  padding-top: 19px;
}

.get-quote__contact-line {
  position: relative;
  margin-bottom: 3px;
  padding-left: 23px;
  text-decoration: none;
  line-height: 1.6;
  color: var(--color__get-qoute-title-color);
  font-size: 12px;
}

.get-quote__contact-line::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  content: "";
}

.get-quote__contact-line--address::before {
  background-image: url("./assets/images/icons/icon-location.png");
}

.get-quote__contact-line--phone::before {
  background-image: url("./assets/images/icons/icon-phone.png");
}

.get-quote__contact-line--mail::before {
  transform: translateY(-37%);
  background-image: url("./assets/images/icons/icon-mail.png");
}

.footer {
  --color__footer-background: #2d303a;
  --color__footer-primary: #666d89;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color__footer-background);
  padding: 0 40px;
  height: 76px;
}

.footer__copyright {
  margin: 0;
  color: var(--color__footer-primary);
  font-size: 12px;
  font-weight: normal;
}

.footer__social-wrapper {
  display: flex;
  justify-content: flex-start;
}

.footer__social-link {
  box-sizing: border-box;
  margin-left: 8px;
  outline: none;
  border: 1px solid var(--color__footer-primary);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.footer__social-link:hover {
  opacity: 0.75;
}

.footer__social-link:active {
  opacity: 0.25;
}

.footer__social-link--facebook {
  background-image: url(./assets/images/icons/icon-facebook.svg);
}

.footer__social-link--google {
  background-image: url(./assets/images/icons/icon-google-plus.svg);
}

.footer__social-link--twitter {
  background-image: url(./assets/images/icons/icon-twitter.svg);
}

.footer__social-link--linkedin {
  background-image: url(./assets/images/icons/icon-linkedin.svg);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__screen {
  margin: 10% auto;
  box-sizing: border-box;
  width: 550px;
  background-color: #eeeeee;
  border-radius: 10px;
}
.modal__header {
  padding: 20px 20px 10px;
}
.modal__title {
  margin: 0 auto 5px;
  text-align: center;
}
.modal__subject {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal__description {
  margin: 0;
  padding: 15px 20px;
  max-height: 300px;
  min-height: 100px;
  overflow-y: auto;
  border-top: 1px solid #a7a7a75e;
  border-bottom: 1px solid #a7a7a75e;
}
.modal__control-wrapper {
  width: 150px;
  height: 41px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal__button-ok {
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background: none;
  border: 1px solid #f06c64;
}
.modal__button-ok:hover {
  border: 1px solid #f06c644f;
}
.modal--open {
  display: block;
}

@-moz-document url-prefix() {
  .about {
    padding-bottom: 66px;
  }

  .get-quote {
    padding-bottom: 65px;
  }

  .get-quote__describe-information {
    line-height: 1.8;
  }
}
@media (max-width: 1020px) {
  .image__phone-wrapper {
    height: calc(100vw * 0.45);
  }

  .image__shadow {
    width: calc(24vw);
    height: calc(47.5vw);
  }

  .image__shadow--horizont {
    transform: scale(1, -1) translate(0, 5.2%);
  }

  .image__screen {
    top: 13%;
    left: 4%;
    transform: none;
    width: calc(18.8vw);
    height: calc(33.2vw);
  }
}
@media (max-width: 700px) {
  .slider {
    padding: 10% 20px 0 20px;
  }
}
@media (max-width: 600px) {
  .navigation {
    background-image: url(./assets/images/icons/icon-mobile-menu.svg);
    background-position: right center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }

  .navigation__item {
    display: none;
  }

  .image__screen {
    border: 1px solid var(--color__image-border);
  }
}
@media (max-width: 450px) {
  .about__persons-wrapper {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
